@font-face {
    font-family: "Lato";
    font-style: normal;
    font-display: block;
    font-weight: normal;
    src: url("fonts/Lato-Regular.ttf") format("truetype"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.eot") format("eot");
  }

  @font-face {
    font-family: "Lato Bold";
    font-style: normal;
    font-display: block;
    font-weight: normal;
    src: url("fonts/Lato-Bold.ttf") format("truetype"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/lato-bold.eot") format("eot");
  }

.reasons-section {
    margin: 50px 0;
}

@media only screen and (max-width: 767px) {
    .reasons-section {
        margin: 50px 2px;
    }
  }

.reasons-section .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: #ffffff;
    box-shadow: 0 3px 16px 0 rgba(5,60,174,0.1);
    border-radius: 16px;
    border: 1px solid #F5F5F5;
    padding: 0;
  }
  
  .reasons-section__title {
    background: #001785;
    color: #ffffff;
    font-family: Lato;
    font-size: 46px;
    font-weight: bold;
    letter-spacing: 2.45px;
    line-height: 55px;
    padding: 8px;
    border-radius: 16px 16px 0 0;
    text-align: center;
    margin: 0 auto;
  }

  @media only screen and (max-width: 767px) {
    .reasons-section__title {
      font-size: 28px;
      letter-spacing: 1.5px;
      line-height: 35px;
      padding: 16px 8px;
    }
  }
  
  .reasons-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  @media only screen and (max-width: 767px) {
    .reasons-info {
      flex-direction: column;
    }
  }

  .reasons-info__box {
    flex-basis: calc(33.33% - 8%);
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  @media only screen and (max-width: 767px) {
    .reasons-info__box {
        flex-basis: 100%;
        padding: 10px 0;
    }
  }

  .reasons-section__block {
      padding: 20px 0;
  }
  

  @media only screen and (max-width: 767px) {
    .reasons-section__block {
        padding: 20px 10px;
    }
  }

  .reasons-info__title {
    color: #001785;
    font-family: 'Lato Bold';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin: 4px 0 8px 0;
  }
  
  @media only screen and (max-width: 767px) {
    .reasons-info__title {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 767px) {
    .reasons-info__title br {
      display: none;
    }
  }

  .reasons-info__subtitle {
    color: #595A5D;
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    display: block;
  }

  @media only screen and (min-width: 768px) and (max-width: 1100px) {
    .reasons-info__subtitle br {
      display: none;
    }
  }

  .reasons-info__img {
      width: 100%;
      border-radius: 16px;
  }

@media only screen and (max-width: 767px) {
    .reasons-info__img {
        width: calc(100% - 50px);
        margin: 10px auto;
        display: block;
    }
}


.reasons-info__note {
    display: block;
}

@media only screen and (max-width: 767px) {
    .reasons-info__note {
        padding-top: 20px;
    }
}

  .reasons-info__bullet {
    position: absolute;
    color: #ffffff;
    background: #001785;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    margin: 5px;
    display: table;
    text-align: center;
  }

  @media only screen and (max-width: 767px) {
    .reasons-info__bullet {
        margin: 15px 30px;
    }
}

  .reasons-info__bullet p {
    margin: 0;
    vertical-align: middle;
    display: table-cell;
    font-family: Lato;
    font-size: 20px;
  }